/* Colours */
$darkblue:  #013258;
$navy:      #376991;
$navyshade: #2c5677;
$baby:      #00aeef;
$babyshade: #0092c7;
$white:     #fff;
$black:			#333;
$navborder:	#193d59;
$navitembg:	rgba(0,174,239,0.7);

/* Font Families */
