    </div><!-- page-wrap -->        
    <div class="footer">
      <div class="container">
        <div class="parent-brand-container">
            <a href="http://dachisgroup.com/" title="Dachis Group Main Site">
                <img src="images/dachis_group_logo_mono.svg" alt="dachis group brand" />
            </a>
        </div>
      </div>
    </div>
        <!-- Begin scripts -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.10.1.min.js"><\/script>')</script>
        <!-- bootstrap JS -->
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
        <script src="/assets/js/dglabs.min.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-42307065-1', 'dachisgroupuk.github.io');
          ga('send', 'pageview');

        </script>      
    </body>
</html>