<!DOCTYPE html>
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!-- Pull in bootstrap CSS -->
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/assets/css/main.css">
        <script type="text/javascript" src="//use.typekit.net/cwe7fiy.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
        <script type="text/javascript" src="//use.typekit.net/cwe7fiy.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>        

    </head>
    <body>
      <div id="page-wrap">
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                Menu
              </button>
              <a class="brand" href="./index.html">
                <img src="/images/dg_labs_logo_mini.svg" alt="Dachis Group Labs Logo"/>
              </a>
              <div class="nav-collapse collapse">
                <ul class="nav clearfix">
                  <li>
                    <a href="http://dachisgroup.com/case-study/" title="Go to our Case Studies page">Case Studies</a>
                  </li>
                  <li>
                    <a href="http://dachisgroup.com/blog/" title="Go to our blog">Blog</a>
                  </li>
                  <li class="contact-link">
                    <span>  
                      <a href="http://dachisgroup.com/contact-us/" title="Go to our main contact form">
                        Contact Us
                      </a>
                    </span>                      
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>